@use "utilities" as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-family: $main-font;
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 90px;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.preloader {
	position: fixed;
	margin-top: -80px;
	width: 100%;
	height: 100vh;
	background: #000 url("/dist/img/loader.gif") no-repeat center center;
	background-size: 15%;
	z-index: 1000;
}

.section-title {
	font-size: 3.2rem;
	text-align: center;
	text-transform: uppercase;
	color: $darkpurple;
}

.underline {
	margin: 0 auto 4rem;
	width: 6rem;
	height: 0.4rem;
	background-color: $darkpurple;
}

.cookie-box {
	position: fixed;
	bottom: 0;
	padding: 2em;
	width: 100%;
	background-color: #fff;
	z-index: 500;

	.container {
		display: flex;
		justify-content: space-evenly;
		gap: 5px;
	}

	&__text {
		font-size: 1.8rem;
	}

	&__cookie-btn {
		padding: 1em 2em;
		font-size: 1.4em;
		color: white;
		background-color: $blue;
		transition: background-color 0.3s;
		cursor: pointer;

		&:hover {
			background-color: $lightblue;
		}
	}
}

.hide {
	display: none;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $yellow;
	box-shadow: 0 1px rgba(0, 0, 0, 0.4);
	z-index: 5;

	.active {
		color: $lightyellow;
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: inherit;
		height: 80px;

		.show-menu {
			transform: translateX(0);
		}
	}

	&__burger-btn {
		display: none;
	}

	&__list {
		padding-top: 1em;
		list-style-type: none;
	}

	&__item {
		display: inline-block;
	}

	&__link {
		padding: 1em;
		font-size: 2.3rem;
		color: $dark;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 0.3s;

		&:hover {
			color: $lightyellow;
		}
	}
}

.header {
	position: relative;
	margin-top: 80px;
	height: 100%;
	max-height: 600px;
	background-image: url("/dist/img/mini-grys-zwirowy.jpg");
	background-size: cover;
	background-position: center center;
	z-index: 1;

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 1em;
		height: 100vh;
		max-height: 600px;
		width: 100%;
	}
	
	&__title {
		font-family: $main-font;
		font-size: 2rem;
		line-height: 1.75;
		text-align: center;
		text-transform: uppercase;
		color: rgb(250, 230, 194);
	}

	&__chevron-down {
		display: none;
	}
}

.header::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -1;
	content: "";
}

.aboutus {
	position: relative;
	background-color: $yellow;

	&__text {
		font-size: 1.75rem;
	}

	&__text-box,
	&__img-box {
		z-index: 1;
	}

	&__img {
		border-radius: 8px;
		box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
	}

	&__bg-icon-right {
		display: none;
	}

	&__bg-icon-left {
		display: none;
	}
}

.offer {
	position: relative;
	background-image: url("/dist/img/mini-mieszanka-lamana.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	z-index: 1;

	.card-img-top {
		height: 210px;
		object-fit: cover;
	}

	.card-title {
		font-family: $bold-font;
		text-align: center;
	}
}

.offer::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: -1;
	content: "";
}

.counter-box {
	background-color: $lightyellow;

	&__counter-item {
		text-align: center;
	}

	&__counter {
		font-family: $bold-font;
		font-size: 2rem;
	}

	&__text {
		font-size: 1.6rem;
	}
}

.contact {
	background-color: $yellow;

	&__icons-group {
		display: flex;
		justify-content: center;
		gap: 25px;
		flex-wrap: wrap;
		text-align: center;
	}

	&__img-box {
		margin-bottom: 1em;
	}

	&__social-media,
	&__phone,
	&__email {
		transition: 0.3s;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__title {
		font-family: $bold-font;
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	&__text {
		font-size: 1.25em;
	}

	&__map {
		width: 100%;
	}
}

.footer {
	position: relative;
	background-color: $lightyellow;

	&__text {
		font-size: 2rem;
		text-align: center;
	}

	&__scroll-to-top {
		display: block;
		position: absolute;
		top: 5px;
		right: 75px;
		padding: 1em;
		background: none;
		transition: transform 0.3s;
		cursor: pointer;

		&:hover {
			transform: translateY(-6px);
		}
	}
}

.error-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: $lightyellow;

	&__text {
		font-size: 3rem;
	}
}

.footer-error {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: $yellow;
}

@import "utilities/sizes";
